/* Tab menu */
main .tab-selector {
    margin: 15px 0 32.5px !important;
    transition: var(--time-tst-fast);
}
main .tab-selector .tabs {
    background-color: var(--clr-bs-light);
    border-radius: 10px;
    display: flex; justify-content: center;
}
main .tab-selector .tab {
    min-width: calc(var(--sb-size) - 10px); width: calc(100% / var(--tab-count)); height: calc(var(--sb-size) - 10px);
    transition: var(--time-tst-xfast); cursor: pointer;
}
main .tab-selector .tab.active { cursor: default; }
main .tab-selector .tab > * {
    height: 100%;
    color: var(--clr-bs-gray-dark);
    display: flex; justify-content: center; align-items: center;
    transition: var(--time-tst-xfast);
}
main .tab-selector .tab:first-child .face { border-radius: 10px 0 0 10px; }
main .tab-selector .tab:last-child .face { border-radius: 0 10px 10px 0; }
main .tab-selector .tab:hover .face { color: var(--clr-pp-indigo-a700); }
main .tab-selector .tab.active .face { background-color: var(--clr-pp-indigo-50); }
main .tab-selector .tab .face span {
    padding-left: 0;
    width: 0;
    font-size: 15px; line-height: calc(var(--sb-size) - 10px); white-space: nowrap;
    font-family: "Balsamiq Sans", serif;
    content: attr(data-name);
    transition: var(--time-tst-xfast);
    overflow: hidden;
}
main .tab-selector .tab:hover .face span { color: var(--clr-pp-indigo-a700); }
main .tab-selector .pop-label {
    padding: 5px 10px;
    position: relative; left: 50%; transform: translate(-50%, -50%) scale(0);
    width: fit-content; height: calc(var(--sb-size) / 2);
    font-size: 15px; line-height: calc(var(--sb-size) / 2); white-space: nowrap;
    color: var(--clr-pp-indigo-a700); font-family: "Balsamiq Sans", serif;
    background-color: var(--clr-bs-light); filter: opacity(0);
    border-radius: 0px 0px calc(var(--sb-size) / 5) calc(var(--sb-size) / 5);
    transition: calc(var(--time-tst-xfast) * 3 / 4);
    pointer-events: none;
}
@media only screen and (max-width: 768px) {
    main .tab-selector .tab:hover .pop-label {
        transform: translate(-50%, 0) scale(1);
        filter: opacity(1);
        box-shadow: /*0px 30px var(--shd-huge) var(--fade-black-7)*/ 0 6.75px var(--shd-big) var(--fade-black-7);
    }
    main .tab-selector .tab.active:hover .pop-label { background-color: var(--clr-pp-indigo-50); }
}
@media only screen and (min-width: 768px) {
    main .tab-selector .tab.active .face span {
        padding-left: 5px;
        width: 85px;
    }
    main .tab-selector .tab:not(.active):hover .pop-label {
        transform: translate(-50%, 0) scale(1);
        filter: opacity(1);
        box-shadow: /*0px 30px var(--shd-huge) var(--fade-black-7)*/ 0 6.75px var(--shd-big) var(--fade-black-7);
    }
}
/* Page holder */
main .pages .page {
    /* opacity: 0; filter: opacity(0); */
    display: none; transition: var(--time-tst-xfast);
}
main .pages .page.current {
    /* opacity: 1; filter: opacity(1); */
    display: block;
}
/* Page - create */
main .page[path="create"] .wrapper { padding: 10px; }
main .page[path="create"] .group-info td { padding: 2.5px 0; }
main .page[path="create"] .group-info td:nth-child(1) {
    padding-right: 5px;
    text-align: right; white-space: nowrap;
}
main .page[path="create"] .group-info td:nth-child(2) { width: 80%; }
/* Page - open */
main .page[path="open"] form {
    margin: 0 auto;
    width: fit-content;
}
main .page[path="open"] [name="gjc"] {
    width: 212.5px;
    font-family: "Open sans", serif; text-transform: uppercase;
}
main .page[path="open"] [name="gjc"]::placeholder { font-family: "Quicksand", sans-serif; text-transform: none; }
/* Page - information */
main .page[path="information"] .wrapper { padding: 10px; }
main .page[path="information"] .group-info td { padding: 2.5px 0; }
main .page[path="information"] .group-info td:nth-child(1) {
    padding-right: 5px;
    text-align: right; white-space: nowrap;
}
main .page[path="information"] .group-info td:nth-child(2) { width: 80%; }
main .page[path="information"] .score { margin-top: 12.5px; }
main .page[path="information"] .score output[name="net"] { font-weight: bold; }
main .page[path="information"] .score .color-g { color: var(--clr-bs-success); }
main .page[path="information"] .score .color-o { color: var(--clr-bs-warning); }
main .page[path="information"] .score .color-r { color: var(--clr-bs-danger); }
/* Page - member */
main .page[path="member"] .code {
    margin-bottom: 10px;
    text-align: center;
}
main .page[path="member"] .expand {
    margin-bottom: 12.5px;
    /* text-decoration: underline; */
    letter-spacing: 1.25px; font-family: "Google sans", "Open sans", serif;
    transition: var(--time-tst-fast);
}
main .page[path="member"] .expand.emphasize { font-size: 5em; }
main .page[path="member"] .expand output {
    padding: 0 5px 0.5px;
    border-bottom: 1px solid var(--clr-main-black-absolute);
}
main .page[path="member"] button, main .page[path="member"] a[role="button"] { font-size: 12.5px; }
main .page[path="member"] .action > .group { height: 45px; }
main .page[path="member"] > p { line-height: 40px; }
main .page[path="member"] > p button {
    /* transform: scale(0.8); */
    padding: 2.5px 7.5px;
    height: 35px;
}
main .page[path="member"] .list {
    margin: -5px 0 15px; padding-left: 25px;
    width: calc(100% - 0);
    white-space: nowrap;
}
main .page[path="member"] .list td:nth-child(n+3) { padding-left: 12.5px; }
main .page[path="member"] .list td:last-child { width: 70%; }
main .page[path="member"] .list button {
    opacity: 0; filter: opacity(0);
    transition: calc(var(--time-tst-xfast) * 2 / 3);
}
main .page[path="member"] .list tr:hover button, main .page[path="member"] .list tr:focus-within button { opacity: 1; filter: opacity(1); }
main .page[path="member"] .settings { gap: 5px; }
main .page[path="member"] .settings > strong { margin-bottom: 7.5px; }
main .page[path="member"] .settings > .group { align-items: center; }
@media only screen and (max-width: 768px) {
    main .page[path="member"] .expand { height: 18.75px; }
    main .page[path="member"] .expand.emphasize {
        transform: translateY(12.5px);
        height: 55px;
    }
}
/* Page - submissions */
/* main .page[path="submissions"] .work { overflow-y: visible; } */
main .page[path="submissions"] .work table {
	width: 100%; max-width: 100%;
    border: 1px solid var(--clr-main-black-absolute); border-radius: 7.5px;
    white-space: nowrap; /* border-collapse: collapse; */
}
main .page[path="submissions"] .work tr { height: 45px; line-height: 45px; }
main .page[path="submissions"] .work td { padding: 0px 5px; }
main .page[path="submissions"] .work td:first-child {
    padding-left: 12.5px;
    max-width: calc(100% - 235px);
    white-space: pre-wrap; line-height: 1.5;
}
main .page[path="submissions"] .work tr:not(:first-child) td { border-top: 1px solid var(--clr-main-black-absolute); }
main .page[path="submissions"] .work [data-work]:not(.action) { transform: scale(0.8); }
main .page[path="submissions"] .work output { transition: var(--time-tst-slow); }
main .page[path="submissions"] .work output.n { color: var(--clr-bs-red); }
main .page[path="submissions"] .work output.y { color: var(--clr-bs-green); }
main .page[path="submissions"] .work output.y { color: var(--clr-bs-green); }
@media only screen and (max-width: 768px) {
    main .page[path="submissions"] .work td:first-child { max-width: 125px; }
}
/* Page - comments */
main .page[path="comments"] .chat .content-body { height: calc(100vh - var(--top-height) - 197.5px - 150px); }